<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
      <!-- cannot proceed to checkout unless logged in. also note that this config is only for the files in this folder and its child folders -->
    </authorization>
  </system.web>
</configuration>
<!-- note: config files apply downwards through file directories, not up -->